<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Style css -->
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">

    <title>Saved</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand" href="#">Sports Scraper</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/saved">Saved Articles</a>
                </li>

            </ul>

            <div class="nav-button">
                <button class="btn btn-danger my-2 my-sm-0" type="submit">CLEAR ARTICLES!</button>
            </div>
        </div>

    </nav>

    <div class="jumbotron text-center">


        <div class="background-image"></div>

        <div class="title">
            <h1>SAVED ARTICLES</h1>
            <p>YOUR SAVED ARTICLES</p>
        </div>


    </div>


    <div class="container">
        {{!-- {{#if articles}} --}}
        {{#each articles}}
        <div class="p-3 card-wrapper">
            <div class="card" id={{_id}}>
                <div class="d-flex flex-row card-header">
                    <div class="col-lg-9 col-md-9 col-sm-9">
                        <h4><strong>{{title}}</strong></h4>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <a id="article-notes" data-id={{_id}} class="btn">Article Notes</a>
                        <a id="delete-saved" data-id={{_id}} class="btn">Delete from saved</a>
                    </div>
                </div>
                <div class="card-body">
                    <a href={{link}} class="card-text">{{body}}</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Uh Oh. Looks like we don't have any new articles.</h4>
            </div>
        </div>
        {{/if}} --}}


    </div>





    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap JS dependency, goes after jQuery as it depends on it, must be same version
    as bootstrap link in head -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</body>


</html>